body {font-family: sans-serif;	font-size: 17px; line-height: 24px;	color: #fff; width: 100%; height: 100%;	margin: 0; background:url('Wallhaven-13691.jpg') /*-222px -152px;*/;}
#info {	position: absolute;	padding: 2px;	background: red;margin-left: 50%; color: white;	width: auto; height: auto;	margin-top: 5px; box-shadow: 0px 0px 10px 2px #FFFFFF;}
#output {width: auto;	height: 100%;	background: black;	float: left;	margin:5px 0 0  5px;	-webkit-transform: scale(-1, 1); 	border:1px solid #626161;	border-radius:5px;	box-shadow: -1px 1px 10px -3px #FFFFFF;}
#head{	position: absolute;	background: black;}
#gallary{  width: auto;  color: #fff;  margin-top: 20px;  margin-left: 50%;}
div.img {box-shadow: 0px 0px 60px 1px #fff;	border-radius: 50px 50px; background-image: -webkit-gradient( radial,49% 62, 58, 99 103, -4, from(rgba(230, 237, 241, 0)), to(rgba(230, 237, 241, 0.8)));   margin: 5px;    padding: 5px;      height: auto;    width: auto;    float: left;    text-align: center;}
div.img img {opacity: 0.95; transition: transform 0.35s; transform-origin: 50% 50%;   display: inline;    margin: 5px;     }
div.img a:hover img {transform: scale3d(1.55,1.55,2);    }
h1 {  font-size: 19px;  padding: 12px 25% 0 20px;  font-family: "Avenir", "Roboto", "Proxima Nova", "Helvetica";
.top-header {box-shadow:0px 0px 9px 1px #fff;border-bottom: 1px solid #0A0909;color: red;  background: whitesmoke;  height: 75px; margin-top:20px;     background-image: -webkit-linear-gradient(left,  orange,  orangered 25%,  skyblue 25%, deepskyblue 50%,    firebrick 50%,    firebrick 75%,    green 75%);  		background-image: linear-gradient(to right,     orange,    orangered 25%,  skyblue 25%,   deepskyblue 50%,   firebrick 50%,   firebrick 75%,  green 75%);	background-size: 100% 6px;  background-position: 50% 100%;  background-repeat: no-repeat;}
/*       for Button*/
#pagegradient {  background-image: -webkit-gradient( radial,41% 157, 96, 244 143, 0, from(rgba(230, 237, 241, 0)), to(rgba(230, 237, 241, 0.8))); 
 height:100%;  left:0px; position:absolute;  bottom:0;  width: 600px;}
button {    position: absolute;    top: 90%;    left: 8px;    display: inline-block;    margin: 0 auto;
 -webkit-border-radius: 10px;    
-webkit-box-shadow:         0px 3px rgba(128,128,128,1), /* gradient effects */    0px 4px rgba(118,118,118,1),    0px 5px rgba(108,108,108,1),    0px 6px rgba(98,98,98,1),
      0px 7px rgba(88,88,88,1),      0px 8px rgba(78,78,78,1),      0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
 -webkit-transition: -webkit-box-shadow .1s ease-in-out;} 
button span {    background-color: #E8E8E8; background-image:  /* gloss gradient */
 -webkit-gradient(   linear,    left bottom,    left top,    color-stop(50%,rgba(255,255,255,0)),    color-stop(50%,rgba(255,255,255,0.3)),    color-stop(100%,rgba(255,255,255,0.2))),        /* dark outside gradient */
 -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(210,210,210,0.3)), color-stop(20%,rgba(210,210,210,0)),  color-stop(80%,rgba(210,210,210,0)), color-stop(100%,rgba(210,210,210,0.3))),
 /* light inner gradient */
 -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0.5)), color-stop(80%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))),        
  /* diagonal line pattern */
  -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,0)),  color-stop(40%,#D2D2D1), color-stop(60%,#D2D2D1),  color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
  -webkit-box-shadow:          0px -1px #fff, /* top highlight */            0px 1px 1px #FFFFFF; /* bottom edge */
       -webkit-background-size: 100%, 100%, 100%, 4px 4px;
  -webkit-border-radius: 10px;
  -webkit-transition: -webkit-transform .1s ease-in-out;
    display: inline-block;    padding: 0px 24px 0px 40px;    
  color: #3A474D;   text-transform: uppercase;   font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';   font-weight: 700;   font-size: 32px;  text-shadow: 0px 1px #fff, 0px -1px #262F33;}
.button span:hover {color: #F40F0F;text-shadow: 0px -1px #97A63A;cursor: pointer;   }
.button:active {  -webkit-box-shadow: 0px 3px rgba(128,128,128,1),0px 4px rgba(118,118,118,1),0px 5px rgba(108,108,108,1),0px 6px rgba(98,98,98,1),0px 7px rgba(88,88,88,1),0px 8px rgba(78,78,78,1),0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
   }
.button:active span{       -webkit-transform: translate(0, 5px); /* depth of button press */}
.button span:before{content: "<"; display: block;   width: 10px;   height: 10px;   position: absolute;   left: 14px;   top: 5px;    font-family: 'Cabin';    font-weight: 700;
        color: #F40F0F;    text-shadow: 0px 1px #fff, 0px -1px #97A63A;    font-size: 26px;
    }
/*.button span:after {
 content: ">";
 display: block;
 width: 10px;
 height: 10px;
 position: absolute;
 right: 14px;
 top: 12px;    
 
        font-family: 'Cabin';
 font-weight: 700;
 color: #AEBF3B;
 text-shadow: 0px 1px #fff, 0px -1px #97A63A;
 font-size: 26px;
    }*/




/*end the style*/		</style>
